@model HomeViewModel
@{
    ViewData["Title"] = "SSO Test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card">
        <h2 class="card-header @(Model.Saml2Authentication.Succeeded ? "bg-success": "bg-info")">Saml2</h2>
        <div class="card-body">
            @if (Model.Saml2Authentication.Succeeded)
            {
                <partial name="_ClaimsTable" model="@Model.Saml2Authentication" />
                <a class="btn btn-secondary" asp-action="Logout" asp-controller="Login" asp-route-scheme="saml2">Logout</a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Login" asp-controller="Login" asp-route-scheme="Saml2">Login</a>
            }
        </div>
    </div>
    <div class="card mt-5">
        <h2 class="card-header @(Model.OidcAuthentication.Succeeded ? "bg-success" : "bg-info")">OpenID Connect</h2>
        <div class="card-body">
            @if (Model.OidcAuthentication.Succeeded)
            {
                <partial name="_ClaimsTable" model="@Model.OidcAuthentication" />
                <div class="form-group text-left">
                    <label class="font-weight-bold">id_token</label>
                    <div class="border bg-light">@Model.OidcAuthentication.Properties.Items[".Token.id_token"]</div>
                </div>
                <div class="form-group text-left">
                    <label class="font-weight-bold">access_token</label>
                    <div class="border bg-light">@Model.OidcAuthentication.Properties.Items[".Token.access_token"]</div>
                </div>
                <div class="font-italic">Use <a href="https://jwt.io">https://jwt.io</a> to decode/inspect tokens.</div>
                <a class="btn btn-secondary mt-3" asp-action="Logout" asp-controller="Login" asp-route-scheme="OidcSession">Logout</a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="Login" asp-controller="Login" asp-route-scheme="OpenIdConnect">Login</a>
            }
        </div>
    </div>
</div>
